ul {
    padding-left: 0; 
}

li button {
    margin-left: 5px; 
    vertical-align: middle; 
}

li input[type="checkbox"] {
    margin-right: 5px;
}

li objeto {
    display: inline-block; 
    width: 200px; 
    overflow-wrap: break-word; 
}