header h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem; /* Tamanho da fonte grande */
    color: #000000; /* Cor do texto */
    text-align: center; /* Alinhamento central */
    margin: 0; /* Remover margens padrão */
    padding: 20px 0; /* Adicionar preenchimento acima e abaixo do título */
    text-transform: uppercase; /* Transformar o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto para realce */
    font-family: Arial, sans-serif; /* Fonte da família Arial */
}

#lista-tarefas {
    padding-left: 0; 
}

#lista-tarefas li button {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-image: url('img/garbage.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    font-size: 0;
}

#lista-tarefas li input[type="checkbox"] {
    margin-right: 5px;
    width: 30px; /* Mesma largura do botão de excluir */
    height: 30px; /* Mesma altura do botão de excluir */
    border: 2px solid black;
    border-radius: 5px;
}
#lista-tarefas li span {
    display: inline-block;
    width: 200px;
    overflow-wrap: break-word;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #bee3bf, #acd2f1); /* Gradiente linear de duas cores */
    margin: 0; /* Remova as margens padrão */
    padding: 0; /* Remova os preenchimentos padrão */
}

#lista-tarefas li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}